<html>
  <head>
    <title>Cryptography</title>
  </head>
  <body>
    <centre>
      <h1>Google Cloud Platform - Image Encryption & Decryption Using RSA </h1>
      <p>   Submitted by        <br>      
        Chris Rohan M (122014010) II year B.Tech ICT <br>
        Srijith Bharadwaj D (122014051) II year B.Tech ICT<br>
      </p>
      <br><br>
      <button type="submit" onclick="location.href='encrypt.html'">Encrypt</button>
      <button type="submit" onclick="location.href='decrypt.html'">Decrypt</button>
    </centre>
  </body>
</html>
